.app__profile {
  text-align: center;
  background-color: rgb(146, 210, 140);
}

.card__user {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  width: 300px;
  align-items: center;
  font-size: large;
  margin-left: 45%;
}
